@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-align: center;

}
body{
    background: #000;
}
.container .head{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#111;
    width: 100%;
    padding: 3px ;
   z-index: 1000000; 

}
.container .head img{
    width: 100px;
    cursor: pointer;

}
.container .head ul li{
    list-style: none;
    display: inline-block;
    margin: 15px;
    position: relative;
}
.container .head ul li a{
    color:#fff;
    text-decoration:none;
    font-weight: 800;
    font-size: larger;
}


.container ul li::after{
    content:'';
    height: 3px;
    width: 0;
    border-color:#fff;
    background: transparent;
    position: absolute;
    left:0;
    bottom:0;
    bottom: -10px;
    transition: 0.5s;
}
.container ul li:hover::after{
    width: 100%;
}
.container .head ul li button{
    width:200px;
    padding:10px 0;
    text-align: center;
    margin:20px 10px;
    border-radius: 25px;
    font-weight: bold;
    font-size: larger;
    border: 2px solid #fff;
    background: transparent;
    color: white;
    cursor: pointer;

}
.banner{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    z-index: 1;
    background: linear-gradient(to bottom, #000, transparent);
}


.banner:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 400px;
    z-index: 1;
    background: linear-gradient(to top, #000, transparent);
}
.banner .fit{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}
.banner .box{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}
.banner .box .heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width:100%;
    /*transform: translateY(-50%);*/

}
.banner .box .heading h1{
    margin-top: 70px;
    font-size: 90px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0px;
    width: 100%;
    font-weight: 800;
}
.banner .box .heading h5{
    font-size: 1.625rem;
    color:#fff;
    font-weight: 700;
    padding: 20px 0;
}
.banner .box .heading p{
    font-size: 1.2rem;
    color: #fff;
    font-weight: 500;
    padding: 10px 0;
    padding-bottom: 20px;
}
.banner .box .search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom:20px;
}


.banner .box .search a{
    text-decoration: none;
    color:#000;
    font-weight: 400;
    letter-spacing: 0.1px;
    border-radius: 40px;
    background:#e50914;
    font-size: 1.625rem;
    line-height: 60px;
    min-width: 310px;
    padding: 5px 40px;
    font-weight: bold;
    transition: 0.2s;

}


.banner .box .search a:hover{
    letter-spacing: 6px;
}
.part2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 4rem;
    border-bottom: 0.6rem solid #111;
}

.part2 .talk{
    width: 40%;
}
.part2 .talk h1{
    font-size: 3.3rem;
    letter-spacing: 2px;
    padding-bottom: 10px;
    color: #fff;
}

.part2 .talk p{
    font-size: 1.7rem;
    color: #fff;
}
.part2 .img{
    width: 45%;
}
.part2 .img img{
    width: 100%;
}
.part4{
    height: 100vh;
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.task{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.task h1{
    color: #fff;
    font-size: small;
    padding: 3rem 0 3rem 0;

}
.carousell {
    height: 300px;
    width: 80%;
    position: relative;
}
.carousell .switchLeft,
.carousell .switchRight{
    color:#fff;
    font-weight: bold;
    height: 100%;
    width: 50px;
    line-height: 300px;
    font-size: 30px;
    text-align: center;
    background-color:#000;
    font-family: sans-serif;
    top: 0;
    z-index:3;

}
.carousell .switchLeft{
    position:absolute ;
    left: -60px;

}
.carousell .switchRight{
    position: absolute;
    right: -60px;
}
.carouselbox{
    height: 300px;
    width: auto;
    overflow: hidden;
    white-space:nowrap;
    display: inline-block;
    text-align: center;
    padding-bottom: 2px !important;
    display: flex;
    align-items: center;
}
.carouselbox img{
    min-width: 250px;
    height: 300px;
    background-size: cover;
    background-color: rgb(4, 156, 30);
    margin: 5px 10px;
    cursor: pointer;
    transition: 0.5s ease;
    z-index: 2;

}
.carouselbox img:hover {
    transform: scale(1.4);
    z-index: 5;
}
.bottom{
    align-items: center;
    justify-content: center;
    width:auto;
}
.bottom button{
   margin-top: 30px;
    width:250px;
    padding:15px 0;
    text-align: center;
    border-radius: 15px;
    font-weight: bold;
    font-size: large;
    text-transform: uppercase;
    border: 2px solid #000;
    background:#e50914;;
    color:#000;
    cursor: pointer;
    transition: 0.2s;
}

.bottom button:hover{
    letter-spacing: 1px;
}

:root {
    --marquee-width: 100vw;
    --marquee-height: 40vh;
    /* --marquee-elements: 12; */ /* defined with JavaScript */
    --marquee-elements-displayed: 3.5;
    --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
    --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
  }
  .shows_cont{
    background-color: black;
  }
  .section_shows{
    display: flex;
    flex-direction: column;
  }
  
  .marquee_container{
    display: flex;
    flex-direction: column;
    position:relative;
    
  }
  
  .marquee {
    width: var(--marquee-width);
    height: var(--marquee-height);
    background-color:black;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
      
  }
  
  .marquee-content {
    list-style: none;
    height: 100%;
    display: flex;
   animation: scrolling var(--marquee-animation-duration) linear infinite;
    animation-duration: 150s;
    
  }
  
   .marquee-content:hover { 
    animation-play-state: paused; 
  }
  
  @keyframes scrolling {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements))); }
  }
  .marquee-content li {
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    flex-shrink: 0;
    width: var(--marquee-element-width);
    max-height: 75%;
    font-size: calc(var(--marquee-height)*3/4); 
    white-space: nowrap;
    
  }
  
  .marquee-content li img {
    width: 100%;
    /*height: 100%;*/
    padding-left: 10px;
    border-radius: 20px;  
  }
  
  .marquee-content li img:hover{
    filter:brightness(75%);
   
    
  }
  .btn_container{
    margin: 10px auto;
    width:50%;
    display: flex;
    justify-content: center;
    margin-bottom:20px;
  }
  .btn{
  cursor: pointer;
  height : 42px;
  width: 150px;
  text-align: center;
  border: 1px solid white;
  font-family: gilroy-bold;
  border-radius: 50px;
  color: rgb(215, 213, 209);
  background-color: black;
  
  font-size: 17px;
  
  font-weight: bold;
  }
  .btn:hover{
    filter:brightness(75%);
  }
  
  
  @media screen and (max-width: 800px) {
    html { font-size: 12px; }
    :root {
      --marquee-width: 100vw;
      --marquee-height: 17vh;
      --marquee-elements-displayed: 2;
     
    }
    .btn_container{
      margin: 10px auto;
      width:50%;
      display: flex;
      justify-content: center;
      margin-bottom:20px;
    }
    .marquee-content li {
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    flex-shrink: 0;
    width: var(--marquee-element-width);
    max-height: 75%;
    font-size: calc(var(--marquee-height)*3/4); 
    white-space: nowrap;
    
  }
   
    .marquee:before, .marquee:after { width: 5rem; }
  } 
  
  @media screen and (max-width: 400px) {
  .btn{
    height : 28px;
    width: 100px;
    text-align: center;
    border: 1px solid white;
    
    border-radius: 50px;
    
    background-color: black;
    
    font-size: 11px;
    
    font-weight: bold;
    }
  }
.part1{
    width: 100%;
    min-height: 100vh;
    align-items:center;
    background: #000;
    color:#fff;
    justify-items: center;
    border-bottom: 10rem solid #000;

}
    
.part1 .talk h1{
    font-size: 3.6rem;
    font-weight: 800;
    letter-spacing: 1px;
    padding-bottom: 0%;
    color:#fff;
    text-align: center;
    padding: 20px 30px;
    padding-top: 80px;
    text-transform:uppercase ;
}

.part1 .talk p{
    font-size: 2.3rem;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
}
.part1 .talk a{
        display:inline-block;
        font-size: 1.2em;
        font-weight: 600;
        text-align: center;
        background: #addad6;
        border-color: #fff;
        padding: 16px 20px;
        text-decoration:none;
        color: #000;
        margin-top: 29px;
        margin-left: 10px;
        letter-spacing: 1px;
        border-radius: 10px;
        block-size: auto;
        transition: 0.2s;
        
    
}
.part1 .talk a:hover{
    letter-spacing: 2px;
}

.part3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10rem 1rem;
    text-align: center;
}


.part3 .img{
    width: 47%;
}
.part3 .img img{
    width: 100%;
}
.part4{
    height: 100vh;
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.task{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.task h1{
    color: #fff;
    font-size: 3.5rem;
    padding: 0rem 0 0rem 0;
    text-transform: uppercase;
    font-weight: 800;

}
.carousell1 {
    height: 500px;
    width: 80%;
    position: relative;
}
.carousell1 .switchLeft,
.carousell1 .switchRight{
    color:#fff;
    font-weight: bold;
    height: 100%;
    width: 0px;
    line-height: 300px;
    font-size: 30px;
    text-align: center;
    background-color:#000;
    font-family: sans-serif;
    top: 0;
    z-index:3;

}
.carousell1 .switchLeft{
    position:absolute ;
    left: -40px;

}
.carousell1 .switchRight{
    position: absolute;
    right: -40px;
}
.carouselbox{
    height: 300px;
    width: auto;
    overflow:hidden;
    white-space:nowrap;
    display: inline-block;
    text-align: center;
    padding-bottom: 10px !important;
    display: flex;
    align-items: center;
}
.carouselbox img{
    min-width: 380px;
    height: 300px;
    background-size: cover;
    background-color: #000;
    margin: 5px 15px;
    cursor: pointer;
    transition: 0.5s ease;
    z-index: 2;

}
.carouselbox img:hover {
    transform: scale(1.4);
    z-index: 5;
}
.bottom{
    align-items: center;
    justify-content: center;
    width:auto;
}
.bottom button{
    margin-top: 15px;
    width:300px;
    padding:15px 0;
    text-align: center;
    border-radius: 15px;
    font-weight: bold;
    font-size: large;
    text-transform: uppercase;
    border: 2px solid #fff;
    background:#e50914;
    color:#fff;
    cursor: pointer;
    transition: 0.2s;
}

.bottom button:hover{
    letter-spacing: 4px;
}

.part3{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    padding: 2rem 1rem;
    text-align: center;
    border-bottom: 2rem solid #000;
}


.part3 .img{
    width: 47%;
}
.part3 .img img{
    width: 100%;
}
.list{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.list h1{
    color: #fff;
    font-size: 3rem;
    padding: 3rem 0 4rem 0;
}
.list p{
    color: #fff;
    font-size:1.1rem;
    font-weight: bold;
}
.title{
    background: #303030;
    padding: 5px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
}

.icon{
    width: 20px;
    position: relative;
}

.icon::before, .icon::after{
    content: "";
    position: absolute;
    width: 20px;
    height: 3px;
    background: #fff;
    top: -1.5px;
}

.icon::after{
    transform: rotate(90deg);
    transition: 0.5s;
}

.text{
    background: #303030;
    line-height: 35px;
    margin: 3px 0;
    color: #fff;
    font-size: 1.7rem;
    font-weight: 400;
    height: 0;
    opacity: 0;
    font-size: 1.7rem;
    font-weight: 400;
}

.item:target .text{
    opacity: 1;
    height: auto;
    padding: 20px 30px;
    margin: 0;
    border-top: 2px solid #000;
    margin-bottom: 6px;

}
.item:target .icon::after{
    transform: rotateY(90deg);
}



.banner2{
    border-bottom: 5rem solid #000;
}  

.banner2 .box{
   margin: 4rem 0;
}
.banner2 .box .heading{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.banner2 .box .heading h2{
    font-size: 3.125rem;
    color: #fff;
    letter-spacing: 2px;
    width: 80%;
}
.banner2 .box .heading h5{
    font-size: 1.625rem;
    color: #fff;
    font-weight: 400;
    padding: 1rem 0;
}
.banner2 .box .heading p{
    font-size:1.2em;
    font-weight: bold;
    color: #fff;
    font-weight: 500;
    padding: 15px 0;
    padding-bottom: 20px;
    text-transform: uppercase;
}
.banner2 .box .search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner2 .box .search input{
    font-size: 16px;
    border: 1px solid #8c8c8c;
    outline: none;
    color: #000;
    border-radius: 30px;
    padding-bottom: 10px 10px 0 0;
    min-width: 380px;
    height: 60px;
    align-items: center;

}

.banner2 .box .search a{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    letter-spacing: 0.1px;
    border-radius: 30px;
    background: #e50914;
    box-shadow: 0 1px 0 rgba(0,0,0,0.45) ;
    font-size: 1.625rem;
    font-weight: bold;
    line-height: 60px;
    min-width: 300px;
    padding: 0 30px;
    transition: 0.2s;

}
.banner2 .box .search a:hover{
    letter-spacing: 4px;
}


 
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 70px 0;
    align-items: center;
    justify-content: center;

  }
  
  .container{
      width: 80%;
    margin: auto;
    padding-left: 50px;
    padding-right: 100px;
  }
  
  ul{
    list-style: none;
  }
  
  .row{
    display: flex;
    flex: 25%;
    font-family: sans-serif;
    flex-wrap: wrap;
  }
  
  .footer h3{
    font-size: 18px;
    color: #8a8a8a;
    font-weight: 500;
    margin-bottom: 35px;
    position: relative;
  }
  
  .footer h3::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #000;
    height: 2px;
    width: 50px;
  }
  
  .footer-col-1 ul li:not(:last-child), .footer-col-2 ul li:not(:last-child), .footer-col-3 ul li:not(:last-child){
    margin-bottom: 15px;
  }
  
  .footer-col-3 .mobile{
    display: none;
  }
  
  .footer-col-1 ul li a, .footer-col-2 ul li a, .footer-col-3 ul li a{
    font-size: 16px;
    text-decoration: none;
    font-weight: 300;
    color: white;
    display: block;
    transition: all 0.3s ease;
  }
  
  .footer-col-1 ul li a:hover, .footer-col-2 ul li a:hover, .footer-col-3 ul li a:hover{
    text-decoration: underline;
    padding-left: 2px;
    transition: all 0.5s ease;
  }
  
  .footer-col-4 .social-links a{
    display: inline-block;
    margin-bottom: 15px;
    
  }
  
  
  .footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    width: 25%;
    padding: 0 15px;
    margin-bottom: 20px;
    letter-spacing: 0.01rem;
  }
  
  .row li{
    list-style-type: none;
    margin-bottom: 2rem;
    font-size: medium;
    color: azure;
    cursor: pointer;
    font-weight: 400;
  }
  
  
  .footer-col-4 img{
    max-width: 60%;
  }
  
  .logo{
    width: 30px;
    cursor: pointer;
    margin-bottom: -10px;
  }
  
  .logo-mobile{
    display: none;
  }
  
  span{
    margin: 10px;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    color: grey;
    align-items: flex-start;
  }
  
  .fab{
    margin: 10px;
    color: #8a8a8a;
  }



@media screen and (max-width: 798px){
    
    .container .head{
        width: 100%;
        padding: 10px ;
        z-index: 1000000;
    
    }
    .container .head ul li{
        margin: 7px;
    }
    .container .head ul li a{
        font-weight: 800;
        font-size: 1em;
    }
    .container .head ul li button{
        width:100px;
        padding:5px 0;
        margin:5px 3px;
        border-radius: 25px;
        font-weight: bold;
        font-size: 1em;
    }
    
    .banner .box .heading h1{
        font-size: 40px;
        letter-spacing: 0px;
        width: 100%;
        font-weight: 800;
    }
    .banner .box .heading h5{
        font-size: 1.5rem;
        font-weight: 700;
        padding: 2rem 0;
    }
    .banner .box .heading p{
        font-size: 1.2rem;
        font-weight: 500;
        padding: 5px 0;
        padding-bottom: 5px;
    }
    .banner .box .search a{
        font-weight: 400;
        letter-spacing: 0.1px;
        border-radius: 40px;
        font-size: 1.625rem;
        line-height: 60px;
        min-width: 300px;
        padding: 3px 25px;
    
    }
    .part1 .talk h1{
        font-size: 3rem;
        font-weight: 800;
        letter-spacing: 1px;
        padding-bottom: 0%;
        padding: 10px 20px;
        padding-top: 50px;
    
    }
    
    .part1 .talk p{
        font-size: 1.3rem;
        
        padding: 30px 30px;
    }
    .part1 .talk a{
        font-size: small;
        font-weight: 700;
        padding: 1px 1px;
        margin-top: 20px;
        margin-left: 10px;
        letter-spacing: 0px;
        border-radius: 10px;
        
    }
   

    
    
    .part3{
        flex-direction: column;
        padding: 0rem 0rem;

    }
    .part3 .img{
        width: 100%;
    }
     .container{
          width: 100%;
        padding-left: 50px;
        padding-right: 50px;
      }
      
      .footer h3{
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 50px;
        }
     .footer-col-1 ul li a, .footer-col-2 ul li a, .footer-col-3 ul li a{
        font-size: 12px;
      }
    }
      
      
@media screen and (max-width: 496px){
    .container .head{
        width: 100%;
        padding: 10px ;
        z-index: 1000000;
    
    }
    .container .head ul li{
        margin: 5px;
    }
    .container .head ul li a{
        font-weight: 800;
        font-size: 1em;
    }
    .container .head ul li button{
        width:100px;
        padding:3px 0;
        margin:5px 2px;
        border-radius: 25px;
        font-weight: bold;
        font-size: 1em;
    }
    
    .banner .box .heading h1{
        font-size: 40px;
        letter-spacing: 0px;
        width: 100%;
        font-weight: 800;
    }
    .banner .box .heading h5{
        font-size: 1.5rem;
        font-weight: 700;
        padding: 5rem 0;
    }
    .banner .box .heading p{
        font-size: 1.2rem;
        font-weight: 500;
        padding: 15px 0;
        padding-bottom: 20px;
    }
    .banner .box .search a{
        font-weight: 400;
        letter-spacing: 0.1px;
        border-radius: 40px;
        font-size: 1.625rem;
        line-height: 60px;
        min-width: 310px;
        padding: 5px 25px;
    
    }
    .part1 .talk h1{
        font-size: 2.2rem;
        font-weight: 800;
        letter-spacing: 1px;
        padding-bottom: 0%;
        padding: 20px 30px;
    
    }
    
    .part1 .talk p{
        font-size: 1.5rem;
        
        padding: 30px 30px;
    }
    .part1 .talk a{
        font-size: 1.3em;
        font-weight: 700;
        padding: 15px 20px;
        margin-top: 0px;
        margin-left: 10px;
        letter-spacing: 0px;
        border-radius: 10px;
        
    }
    
    
    .part3{
        flex-direction: column;
        padding: 0rem 0rem;

    }
    .part3 .img{
        width: 100%;
    }
     .container{
          width: 100%;
        padding-left: 50px;
        padding-right: 50px;
      }
      
      .footer h3{
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 50px;
        }
     .footer-col-1 ul li a, .footer-col-2 ul li a, .footer-col-3 ul li a{
        font-size: 15px;
      }
    }
      
    
    
    